*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
    list-style: none;
}


.footer-header{
    width: 100%;
    background-color: rgb(252, 252, 252);
}

.footer-logo{
    color: #888;
    text-decoration: none;
    font-size: 1em;
    padding-left: 20px;
    padding-top: 50px;

}

.footer-logo:hover{

    color: #00baf2;
    text-decoration: none;
}

.footer-right{
    float: right;
    padding-right: 3em;
    padding-top: .75em;
}

.footer-button{
    font-family: 'Raleway', sans-serif;
    color: #888 !important;
    text-decoration: none;
    display: inline-block !important;

}

.footer-button:hover{
    color: #00baf2 !important;
    text-decoration: none;
}

