*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
    list-style: none;
}

.upper-section{
    /* background-image: url("../../images/home-bg.jpg"); */
    text-align: center;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    background-attachment: scroll;
    min-height: 27em;
    margin-top:0;
}

.bg-full {
    background-image: url("../../images/home-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.main-title{
    margin-top:0;
    margin-bottom:0;
}

.fixed-bg{
    background: #1F1F1F url("../../images/home-bg.jpg") no-repeat center center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-attachment: fixed;
    position: relative;
    padding-top:30px;
    min-height: 300px;
    width: 100%;
    overflow: hidden;


}

.text-vert-middle{
    verticalAlign: middle;
}

.mtsl {
     margin-top: 3em !important;
}

.min-height-500 {
    min-height: 400px;
}


li a {
    font-size: 20px !important;
    color: yellow !important;
    text-decoration: none;
    -webkit-transition: .25s;
    transition: .25s;
}

li {
    padding-bottom:16px !important;
}




