*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
    list-style: none;
}

.upper-section{
    background-color: #00BAF2;
    text-align: center;
    background-attachment: scroll;
    min-height: 27.5em;
    margin-top:0;
}

.bg-full {
    background-image: url("../../images/home-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.main-title{
    margin-top:0;
    margin-bottom:0;
}

.fixed-bg{
    background: #1F1F1F url("../../images/home-bg.jpg") no-repeat center center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    background-attachment: fixed;
    position: relative;
    padding-top:30px;
    min-height: 300px;
    width: 100%;
    overflow: hidden;


}

.text-vert-middle{
    verticalAlign: middle;
}

text-left{
    text-align: left;
}

text-right{
    text-align: right;
}

.mtsl {
     margin-top: 2.2em !important;
}

.min-height-400 {
    min-height: 400px;
}


li a {
    font-size: 20px !important;
    color: yellow !important;
    text-decoration: none;
    -webkit-transition: .25s;
    transition: .25s;
}

li {
    padding-bottom:16px !important;
}




.title-call{
    font-size: 80px;
    text-shadow: 5px #505050;
}

bg-light-blue{
    background-color: #00BAF2;
}

.title-icon{
    font-size: 120px;
    color: #ffffff;
}

.element-animation{
    animation: animationFrames linear 8s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 8s;
    -webkit-animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 8s;
    -moz-animation-iteration-count: infinite;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 8s;
    -o-animation-iteration-count: infinite;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 8s;
    -ms-animation-iteration-count: infinite;
    -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
    0% {
        transform:  scaleX(1.00) scaleY(1.00) ;
    }
    33% {
        transform:  scaleX(1.30) scaleY(1.30) ;
    }
    33% {
        transform:  scaleX(1.30) scaleY(1.30) ;
    }
    35% {
        transform:  scaleX(1.30) scaleY(1.30) ;
    }
    98% {
        transform:  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
        transform:  scaleX(1.00) scaleY(1.00) ;
    }
}

@-moz-keyframes animationFrames{
    0% {
        -moz-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    33% {
        -moz-transform:  scaleX(1.30) scaleY(1.30) ;
    }
    33% {
        -moz-transform:  scaleX(1.30) scaleY(1.30) ;
    }
    35% {
        -moz-transform:  scaleX(1.30) scaleY(1.30) ;
    }
    98% {
        -moz-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
        -moz-transform:  scaleX(1.00) scaleY(1.00) ;
    }
}

@-webkit-keyframes animationFrames {
    0% {
        -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    33% {
        -webkit-transform:  scaleX(1.30) scaleY(1.30) ;
    }
    33% {
        -webkit-transform:  scaleX(1.30) scaleY(1.30) ;
    }
    35% {
        -webkit-transform:  scaleX(1.30) scaleY(1.30) ;
    }
    98% {
        -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
        -webkit-transform:  scaleX(1.00) scaleY(1.00) ;
    }
}

@-o-keyframes animationFrames {
    0% {
        -o-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    33% {
        -o-transform:  scaleX(1.30) scaleY(1.30) ;
    }
    33% {
        -o-transform:  scaleX(1.30) scaleY(1.30) ;
    }
    35% {
        -o-transform:  scaleX(1.30) scaleY(1.30) ;
    }
    98% {
        -o-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
        -o-transform:  scaleX(1.00) scaleY(1.00) ;
    }
}

@-ms-keyframes animationFrames {
    0% {
        -ms-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    33% {
        -ms-transform:  scaleX(1.30) scaleY(1.30) ;
    }
    33% {
        -ms-transform:  scaleX(1.30) scaleY(1.30) ;
    }
    35% {
        -ms-transform:  scaleX(1.30) scaleY(1.30) ;
    }
    98% {
        -ms-transform:  scaleX(1.00) scaleY(1.00) ;
    }
    100% {
        -ms-transform:  scaleX(1.00) scaleY(1.00) ;
    }
}