*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: normal;
    list-style: none;
}


.navbar-header{
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.nav-logo{
    color: #00baf2;
    text-decoration: none;
    font-size: 45px;
    padding-left: 20px;

}

.nav-logo:hover{

    color: #0079a7;
    text-decoration: none;
}

.navbar-right{
    float: right;
    padding-right: 3em;
    padding-top: .75em;
}

.nav-button{
    font-family: 'Raleway', sans-serif;
    color: #00baf2 !important;
    text-decoration: none;
    display: inline-block !important;

}

.nav-button:hover{
    color: #0079a7 !important;
    text-decoration: none;
}

