
@import url('https://fonts.googleapis.com/css?family=Inconsolata');
@import url('https://fonts.googleapis.com/css?family=Lato');
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import "variables";
@import "xterm";
@import "picker";


body {
//font-family: 'Open Sans', sans-serif;
//font-family: 'PT Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}

.font-indie {
    font-family: 'Indie Flower', cursive;
}


.font-ubuntu {
    font-family: 'Ubuntu Mono', monospace;
}

.font-raleway {
    font-family: 'Raleway', sans-serif;
}

.slanted-box:after {
    content: '';
    position: absolute;
    bottom: -25px;
    top: 100%;
    left: 0;
    border-right: 100vw solid #f9f9f9;
//border-right: 100vw solid #fff;
    border-bottom: 4vw solid transparent;
    border-top: 0;
    z-index: 1;
}

.slanted-box:before {
    content: '';
    position: absolute;
    bottom: -25px;
    top: 100%;
    left: 0;
    border-right: 100vw solid #f9f9f9;
//border-right: 100vw solid #fff;
    border-bottom: 4vw solid transparent;
    border-top: 0;
    z-index: 1;
}

.slanted-box-inverse:after {
    content: '';
    position: absolute;
    bottom: -25px;
    top: 100%;
    left: 0;
//border-right: 100vw solid #1abc9c;
    border-right: 100vw solid #444;
//border-bottom: 4vw solid transparent;
//border-bottom: 4vw solid #333;
    border-top: 0;
    z-index: 1;
}

.slanted-box-purple:after {
    content: '';
    position: absolute;
    bottom: -25px;
    top: 100%;
    left: 0;
    border-right: 100vw solid #7D6EC6;
    border-bottom: 4vw solid transparent;
    border-top: 0;
    z-index: 1;
}

.slider-box-class {
    height: 100%;
    position: absolute;
    width: 100%;
}


.text-poster {
    color: #c2903a;
}

.slider-box-text1 {
    position: relative;
    top: 15%;
}

.slider-box-text2 {
    position: relative;
    top: 20%;
}

.slider-box-text3 {
    position: relative;
    top: 10%;
}

.font16 {
    font-size: 16px;
}

.font14 {
    font-size: 14px;
}

.font12 {
    font-size: 12px;
}

.font10 {
    font-size: 10px;
}

.font18 {
    font-size: 18px;
}

.font19 {
    font-size: 19px;
}

.font20 {
    font-size: 20px;
}

.font22 {
    font-size: 22px;
}

.font40 {
    font-size: 40px;
}


.font100 {
    font-size: 100px;
}

.bbs {
    border-bottom:1px solid #ddd;
}

.bbsp {
    border-bottom:1px solid #c2903a;
}

.bts {
    border-top:1px solid #ddd;
}

.bor {
    border: 1px solid #ddd
}


.brs {
    border-right:1px solid #ddd;
}

.brs6 {
    border-right:1px solid #666;
}

.bbs6 {
    border-bottom:1px solid #666;
}

.bbs-nav {
    border-bottom:2px solid #f1c40f;
}

.bts6 {
    border-top:1px solid #666;
}


.brn {
    border-radius: 0;
}

.bls {
    border-left:1px solid #ddd;
}



.text-muted {
    color: #ddd-dark;
}
.text-inverse {
    color: #fff;
}
.text-primary {
    color: #1abc9c;
}

.text-warning {
    color: #f1c40f;
}

.text-danger {
    color: #e74c3c;
}

.text-success {
    color: #2ecc71;
}

.text-info {
    color: #3498db;
}




.scroll {
    height: 100%;
}

.text-energized {
    color: #ffc900;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.custom-container {
    /*margin-top: 4.3%;*/
    width: 100%;
    padding: 0;
}
.bg-warning {
    background-color: #f1c40f;
}
.bg-white {
    background: #fff;
}

.bg-grey {
    background-color: #eee;
}

.bg-grey-light {
    background: #f9f9f9;
}

.text-dark-gray {
    /*color: #1abc9c;*/
    color: #888;
}

.text-green {
    color: $green;
}

.text-normal {
    color: #34495e
}

.text-dark-gray2 {
    color: #555;
}

.text-unread {
    color: #555;
    font-weight: bold;
}

.nav-list > li > a {
    border-radius: 0;
}

.text-bold {
    font-weight: bold;
}

[contenteditable]:focus { outline: 0px solid transparent; }
.custombox:focus { outline: 0px solid transparent; }
.custombox {
    resize: none;
}


/*.reveal-animation.ng-enter {*/
/*-webkit-animation: enter_sequence 1s linear; *//* Safari/Chrome */
/*animation: enter_sequence 1s linear; *//* IE10+ and Future Browsers */
/*}*/
/*@-webkit-keyframes enter_sequence {*/
/*from { opacity:0; }*/
/*to { opacity:1; }*/
/*}*/
/*@keyframes enter_sequence {*/
/*from { opacity:0; }*/
/*to { opacity:1; }*/
/*}*/

.cursorp {
    cursor: pointer;
}

.scrollcolumn {
    overflow-y: scroll;
}


::-webkit-scrollbar {
    display: none;
}


.ios-scroll-iframe {
    -webkit-overflow-scrolling: touch !important;
    overflow-y: scroll !important;
}

.break-word {
    word-break: break-all;
}

.border-dashed {
    border: 1px dashed #ddd;
}

.light-weight {
    font-weight: 300;
}

.mas-border {
    border: 1px solid;
    border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
}

.mas-shadow {
    box-shadow: 1px 1px 2px 0 #d0d0d0
}

.text-shadow {
    text-shadow: 1px 1px 2px #d0d0d0;
}



.bg-custom {

    background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #fff 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #fff 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #fff 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #ECE9E6 10%, #fff 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #ECE9E6 10%, #fff 90%); /* W3C */

}

.font24 {
    font-size: 24px;
}
.font30 {
    font-size: 30px;
}


.paper-bg {
    background-color: #fff;
    background-image:
            linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
            linear-gradient(#eee .1em, transparent .1em);
    background-size: 100% 1.2em;
}




#typed-cursor {
    font-weight: 100;
    font-size: 30px;
    color: black;
}

.slogan {
    color: #2E3D48;
    font-size: 30px;
    position: absolute;
    top: 50%;
    text-align: center;
    margin: -60px 0 0 0;
    display: block;
    width: 100%;
}

#typed-cursor {
    color: #2E3D48;
    font-weight: 100;
}

#typed-cursor.blinking {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes "blink" {
    from,to {
        color: transparent;
    }
    50% {
        color: black;
    }

}

@-moz-keyframes blink {
    from,to {
        color: transparent;
    }
    50% {
        color: black;
    }

}

@-webkit-keyframes "blink" {
    from,to {
        color: transparent;
    }
    50% {
        color: black;
    }

}

@-ms-keyframes "blink" {
    from,to {
        color: transparent;
    }
    50% {
        color: black;
    }

}

@-o-keyframes "blink" {
    from,to {
        color: transparent;
    }
    50% {
        color: black;
    }
}

.ok-li:before {
    content: '\e853'; /* FontAwesome char code inside the '' */
    font-family: 'fontello'; /* FontAwesome or whatever */
    display: inline-block;
    width: 1.2em; /* same as padding-left set on li */
    font-size: 20px;
    margin-left: -1.2em; /* same as padding-left set on li */
    color: #1abc9c;

}​

 .ok-li {
     padding-left: 1.2em;
 }

.bg-custom {

    background: -webkit-linear-gradient(90deg, #ECE9E6 10%, #fff 90%); /* Chrome 10+, Saf5.1+ */
    background:    -moz-linear-gradient(90deg, #ECE9E6 10%, #fff 90%); /* FF3.6+ */
    background:     -ms-linear-gradient(90deg, #ECE9E6 10%, #fff 90%); /* IE10 */
    background:      -o-linear-gradient(90deg, #ECE9E6 10%, #fff 90%); /* Opera 11.10+ */
    background:         linear-gradient(90deg, #ECE9E6 10%, #fff 90%); /* W3C */

}

/*.text-6 {*/
    /*color: $grey-black;*/
/*}*/

.break-word {
    word-break: break-all;
}

.ellepsie {
    white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
}

/*.bg-light-blue {*/
    /*background: $blue-light;*/
/*}*/


.blp {
    border-left: 5px solid #1abc9c;
}

.brp {
    border-right: 5px solid #1abc9c;
}

.bldg {
    border-left: 5px solid #ddd;
}

.bg-primary-1 {
    background: #1abc9c;
}

.text-white {
    color: #fff;
}

.capitalizeit {
    text-transform: capitalize
}
.uppercase {
    text-transform: uppercase;
}

.modal {
    display: block;
}

/*.text-light-gray {*/
    /*color: $gray-light;*/
/*}*/


.ellepsie {
    white-space: nowrap;overflow: hidden;text-overflow: ellipsis;
}

.text-d {
    color: #444;
}

.highlight-message {
    background-color: #fff;
}

.dont-break-out {

    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

}

/*.color-orange {*/
    /*color: $orange;*/
/*}*/

/*.color-red {*/
    /*color: $red;*/
/*}*/

/*.color-lightblue {*/
    /*color: $lightblue;*/
/*}*/



.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.text-calm-blue {
    color: #007fb2;
}



/*.text-royal {*/
    /*!*color: #DB716A;*!*/
    /*!*color: $maroon;*!*/
    /*color: $maroon;*/
/*}*/
/*.text-royal-light {*/
    /*color: $orange-light;*/
/*}*/

/*.text-royal-blue {*/
    /*color: $lightblue;*/
/*}*/


/*.bg-royal {*/
    /*background-color: $maroon;*/
/*}*/

/*.btn-royal {*/
    /*color: #fff;*/
    /*border: 2px solid $maroon;*/
    /*background: $maroon;*/
    /*padding: 7px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
/*}*/

/*.btn-green {*/
    /*background: $green;*/
    /*color: #fff;*/
/*}*/

/*.btn-red {*/
    /*background: $red;*/
    /*color: #fff;*/
/*}*/

/*.royal-border2 {*/
    /*border: 2px solid $maroon;*/

/*}*/



.royal-button {
    background-color: $maroon;
    color: #fff;
    cursor: pointer;
}

.royal-button-box {
    background-color: $maroon;
    color: #fff;
    cursor: pointer;
    border: 2px orange solid;
    border-radius: 0;
}

.royal-tag {
    background-color: $orange-yellow;
    color: #6C7A89;
    padding: 5px;
}

.royal-error {
    font-size: 12px;
    color: $red;
}

.royal-title {
font: {
    family: Lato, sans-serif;
    size: 25px;
}
}

.royal-nav-active {
    background-color:$grey-black;
    border-radius:5px;
}


.spaced-out {
    letter-spacing: 3px;
    text-transform: uppercase;
}


.text-italic {
    font-style: italic;
}

.spaced-out-regular {
    letter-spacing: 3px;
}

.text-underline {
    text-decoration: underline;
}


.opaque-bg {
    opacity:0.4;
}

.popular-services:hover {
    opacity: 0.8;
}

/*  */

.modal-primary .modal-header,
.modal-info .modal-header,
.modal-success .modal-header,
.modal-warning .modal-header,
.modal-danger .modal-header {
    color: #fff;
    border-radius: 5px 5px 0 0;
}
.modal-primary .modal-header {
    background: #428bca;
}
.modal-info .modal-header {
    background: #5bc0de;
}
.modal-success .modal-header {
    background: #5cb85c;
}
.modal-warning .modal-header {
    background: #f0ad4e;
}
.modal-danger .modal-header {
    background: #d9534f;
}


.modal-content {
    /*border: 2px solid $maroon;*/
//border: 2px solid #ddd;
    border: 0;
    border-radius: 1px;
}

//.form-control:focus {
  //  border: 2px solid $maroon;
  //}
//
//
//.form-control {
  //  border: 1px solid $maroon;
  //  border-radius: 0;
  //}

.modal-backdrop.in  {
    opacity: 0.5;
}

.modal-backdrop {
    background-color: #fff;
}

.form-group {
    margin-bottom: 10px;
}

//ot-publisher,ot-subscriber,ot-layout {
  //  display: block;
  //  overflow: hidden;
  //}
//ot-layout {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  right: 0;
  //  bottom: 0;
  //}
//
//

ot-whiteboard {
    display: block;
    min-width: 800px;
//width: 800px;
//height: 640px;
    min-height: 640px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    right: 0;
}



ot-whiteboard canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

ot-whiteboard div.OT_panel {
    background-color: #424242;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    position: absolute;
    top: 10px;
    right: 0;
}

ot-whiteboard div.OT_panel input {
    display: block;
    -webkit-appearance: none;
    border: none;
    outline: none;
    margin-top: 2px;
    font-size: 9px;
}

ot-whiteboard div.OT_panel input.OT_clear,
ot-whiteboard div.OT_panel input.OT_capture {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #7D7D7D;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
    padding: 0;
}

ot-whiteboard div.OT_panel input.OT_erase {
    width: 40px;
    height: 40px;
    color: #fff;
    background-color: #7D7D7D;
    border-radius: 50%;
    text-align: center;
    padding: 0;
}

ot-whiteboard div.OT_panel input.OT_color {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

ot-whiteboard div.OT_panel input.OT_selected {
    border: 4px solid #EAEAEA;
}


.color-lightblue {
    color: #5FC8D7;
}


.bg-purple {
    background-color: #7D6EC6;
}

.introjs-helperNumberLayer-custom {
    height: 25px !important;
    width: 25px !important;
}

.screen-share {
    position: absolute;
    top: 50%;
    left: 44%;
    background-color: #888;
}
.room-note {
    margin-top: 40px;
    width: 100%;
    font-size: 15px;
}
.room-note-display {
    overflow-y: auto;
    height: 50px;
}

.center {
    text-align: center;
}

.small-case-list {
    list-style-type: lower-alpha;
}

.lower-roman-list {
    list-style-type: lower-roman;
}

div li>span {
    font-size: 22px;
    font-weight: 700;
}

//.company-logos {
  //  padding-top: 55px !important;
  //}
.company-logos img {
    width: 40px;
    filter: gray; /* IE6-9 */
    filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
    -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */

}


.active {
    background-color: #909090;
}

.footer-seperator {
//border-top: 1px solid #f9f9f9;
//margin-top: 5px;

}

.hide {
    display: none;
}

#navbar-main ul li:last-child:hover ul {
    display: block !important;
}
.wrap-content {
    white-space: pre-wrap;
}

.activeOption {
    background:#1abc9c
}

.option {
    background:#333
}


.modal-backdrop {
    background: #222;
}

.bg-blue-psy {
    background: #3498db;
}

.bg-grey-dark {
    background: #ccc;
}

.bg-dark5 {
    background: #555;
}

.bg-dark6 {
    background: #666;
}

.bg-dark4 {
    background: #444;
}

.bg-grey-smoke {
//background: #ECECEC;
    background: #d3d3d3;
}


.bbs-light {
    border-bottom: 1px solid #ECECEC;
}

.text-9 {
    color: #999;
}

.auth0-lock-badge-bottom {
    display: none;
}

//.bg-wave {
  //
  //  background-color: #fff;
  //  background-image:
  //    linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),
  //    linear-gradient(#eee .1em, transparent .1em);
  //  background-size: 100% 1.2em;
  //}

.bg-stuff {

    background: linear-gradient(#ffffff 50%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255,255,255,0) 0) 0 0,
    radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255,255,255,0) 0) 55px 0 #48B;
    background-size:110px 200px;
    background-repeat:repeat-x;
}


.success-log {
    border-left:5px solid green;
}

.error-log {
    border-left:5px solid red;
}

.bg-sei {
    background-color:silver;
    background-image:
            radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
            radial-gradient(circle at 0    150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent),
            radial-gradient(circle at 50%  100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent),
            radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent),
            radial-gradient(circle at 0    50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
    background-size:100px 50px;
}

.bg-calm {
    background: rgba(183,222,237,1);
    background: -moz-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(183,222,237,1)), color-stop(50%, rgba(113,206,239,1)), color-stop(51%, rgba(33,180,226,1)), color-stop(100%, rgba(183,222,237,1)));
    background: -webkit-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -o-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: -ms-linear-gradient(left, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    background: linear-gradient(to right, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed', GradientType=1 );
}

